git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate
langchain
kor
xlsxwriter
tqdm
evaluate
bitsandbytes
xformer
torch
scikit-learn
openpyxl
seqeval 
sentencepiece
protobuf